body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    text-align: center;
}
.nav {
    width: 73%;
    padding: 0;
    text-align: center;
}
.ul {
    width: 50%;
    margin-left: auto;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.footer {
    display: inline-block;
    vertical-align: top;
}
ul {
    vertical-align: top;
}
li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}