body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
}
#navigation {
    background: url(../images/HeroImage.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
#menu{
    width: 100%;
    display: inline-block;
    background-color: transparent;
}
#logo {
    display: inline-block;
    justify-content: flex-start;
    width: 12%;
    filter: invert(0);
    vertical-align: middle;
    text-align: left;
}
.menu-item {
    display: inline;
    color: black;
    padding-right: 20px;
    text-align: right;
    align-items: center;
}
#menu-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin: 0px;
    padding: 12px;
}
.menu-items {
    justify-content: flex-end;
    display: flex;
    position: relative;
    right: 0;
    align-items: center;
}
.container {
    display: block;
    width: 75%;
    position: relative;
    text-align: left;
    color: white;
}
.centered {
    display: block;
    width: 50%;
    left: 50px;
    top: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    position: absolute;
}
.footer {
    display: flex;
    width: 100%;
}
#footer-nav {
    display: inline-block;
    width: 100%;
    color: black;
    padding-right: 20px;
    text-align: right;
    align-items: center;
    justify-content: flex-start;
}
#connect-icon {
    width: 30px;
    justify-content: flex-end;
    position: relative;
    vertical-align: middle;
    padding: 10px;
}
button {
    margin: 0px;
    padding: 10px;
    background-color: lightblue;
    vertical-align: middle;
    height: 5vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    border: none;
}